.botonAnimado{
    background-color: yellow;
    color: yellow;
}

.transition-1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    background-color: yellow;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease-out;
}

.transition-1.is-active {
    /* opacity: 1; */
    pointer-events: all;
}

.transition-2 {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    bottom: 0;
    z-index: 101;
    background-color: yellow;
    transition: 0.5s ease-out;
}

.transition-2.is-active {
    left: 0px;
}
.transition-2::before {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    bottom: 0;
    z-index: 101;
    background-color: #D34D4C;
    transition: 0.5s ease-out;
}

.transition-2.is-active::before {
    left: 0px;
}

#placeholder {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1030;
    background-color: white;
    animation: transitionIn 0.7s;
  }

  @keyframes transitionIn {
      from {
        transform: translateX(0px);

      }
      to {
        transform: translateX(-1900px);
    }
  }



  #placeholder .d-flex {
    width: 100%;
    height: 100%;
  }
  #placeholder .d-flex .text-normal{
    color: #FEBD2C;
  }

  @media(max-width:768px){
    .spinner-border {
        margin-left: 50%!important;
        margin-top: 50%!important;
    }
  }